@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  -webkit-font-smoothing: antialiased;
}
@layer components {
  .gutter {
    @apply px-4 md:px-16 lg:px-20;
  }

  .skylark-wysiwyg h1 {
    @apply mb-8 text-4xl md:text-5xl;
  }

  .skylark-wysiwyg h2 {
    @apply mb-6 text-3xl md:text-4xl;
  }

  .skylark-wysiwyg h3 {
    @apply mb-4 text-3xl md:text-4xl;
  }

  .skylark-wysiwyg h4 {
    @apply mb-4 text-xl md:text-2xl;
  }

  .skylark-wysiwyg h5,
  .skylark-wysiwyg h6 {
    @apply mb-2 text-lg md:text-xl;
  }

  .skylark-wysiwyg p {
    @apply my-2 text-base md:my-4 md:text-lg;
  }

  .skylark-wysiwyg blockquote {
    @apply my-4 border-l-4 border-skylark-blue px-4 py-2 text-base md:my-8 md:text-lg lg:p-10;
  }
}
