@tailwind base;
@tailwind components;
@tailwind utilities;

#skylark-availability-extension-app-root {
  max-width: 400px;
  max-height: 600px;
  height: 100%;
  width: 100%;
  min-width: 600px;
  min-height: 400px;
}

body {
  margin: 0;
}
