@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --skylarktv-primary-color: #5b45ce;
  --skylarktv-accent-color: #ff385c;
}

/* Cheat to change prose bullet point color */
.prose
  :where(ul > li):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::marker {
  color: var(--skylarktv-primary-color);
}
